    .pants-section {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    :has(.patches:hover) .pants-description {
        filter: blur(5px);
    }

    .pants-wrapper {
        position: relative;
        width: min(80%);
        margin: 0 auto;

        .pants-img {
            display: block;
            width: 100%;
            min-width: 100%;
            height: auto;
        }

        .patches {
            position: absolute;
            z-index: 2;

            &:hover {
                cursor: pointer;
                justify-self: center;
                z-index: 99;
                transform: scale(3) rotate(2deg);
                transition: transform 0.3s ease, z-index 0.1s;
            }
        }


        .pants-overlay-woman {
            width: 21%;
            top: 58%;
            left: 13%;
            transform: rotate(10deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-chair {
            width: 15%;
            top: 59%;
            left: 70%;
            transform: rotate(353deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-lavenuePatch2 {
            width: 18%;
            top: 20%;
            left: 46%;
            transform: rotate(7deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-payaso3 {
            width: 18%;
            top: 28%;
            left: 58%;
            transform: rotate(7deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-anabelle {
            width: 12%;
            top: 13%;
            left: 41%;
            transform: rotate(10deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-shoot {
            width: 12%;
            top: 23%;
            left: 21%;
            transform: rotate(14deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-spider {
            width: 13%;
            top: 29%;
            left: 36%;
            transform: rotate(10deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-lavenuePatch {
            width: 25%;
            top: 47%;
            left: 16%;
            transform: rotate(17deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-colum {
            width: 22%;
            top: 30%;
            left: 66%;
            transform: rotate(0deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-payaso1 {
            width: 19%;
            top: 17%;
            left: 68%;
            transform: rotate(357deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-payaso2 {
            width: 14%;
            top: 31%;
            left: 68%;
            transform: rotate(357deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-payaso3 {
            width: 19%;
            top: 65%;
            left: 12%;
            transform: rotate(376deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        .pants-overlay-alien {
            width: 19%;
            top: 66%;
            left: 68%;
            transform: rotate(357deg);
            transition: transform 0.3s ease, z-index 0.3s;
            z-index: 4;
        }

        &:has(.patches:hover) .pants-img {
            filter: blur(5px);
        }

        &:has(.patches:hover) .patches:not(:hover) {
            filter: blur(4px);
        }

        &:has(.patches:hover) .patches:hover {
            filter: none;
        }
    }

    .tshirt-wrapper,
    .jersey-wrapper {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }


    @media (max-width: 768px) {
        .pants-section {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .pants-description {
            max-width: 100%;
        }
    }

    .swiper {
        width: min(100%);
    }

    img.marquee-image {
        width: 10vh;
        margin: 1rem;
    }


    .pants-description {
        max-width: 25rem;
        padding: 1rem;
    }

    .clown_text {
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }